html{
    height: 100%
    
    
}

#navbar{
    display: grid;
    grid-template-rows:50px;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-areas: "about store . gmail images menu sign-in";

}
a{
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#about{
grid-area: about;
justify-self: center;
align-self: center;


}
#store{grid-area: store;
justify-self: center;
align-self: center;
}
#gmail{grid-area: gmail;
justify-self: center;
align-self: center;
}
#images{grid-area: images;
justify-self: center;
align-self: center;
}

#menu{
    grid-area: menu;justify-self: center;
align-self: center;
}


#sign-in{
    grid-area:sign-in;justify-self: center;
align-self: center;
}


#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 80px 80px 200px ;
    grid-template-areas:
     ". logo ."
     ". search ."
     ". flexbox ."
     ". google-text . ";
}

#logo{
    grid-area:logo;
    justify-self: center;
    align-self: end;
}
#search{
grid-area:search;
height: 20px;
align-self: center;
}
#search:focus + #reset {
    visibility: visible;
}

#search:focus{
    outline: none;
    box-shadow: 0px 0px 5px #dddddd;
}

#search:hover{
    box-shadow: 0px 0px 5px #dddddd;
}
#flexbox
{ display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#google-search{justify-self: center;}
#goofle-search-btn{justify-self: center;}
#google-text{
    grid-area:google-text;
}
#footer
{position:absolute;
    bottom:0;
    display: grid;
grid-template-columns: 150px 150px 150px 1fr 70px 70px 70px;
grid-template-rows: 50px;
grid-template-areas:
"advertising business nsw . privacy terms settings"; }

#advertising{
    grid-area: advertising;
justify-self: center;
align-self:center;
}

#bussiness{
    grid-area: business;
justify-self: center;
align-self:center;
}
#nsw{
    grid-area: nsw;
justify-self: center;
align-self:center;
}
#privacy{
    grid-area: privacy;
justify-self: center;
align-self:center;
}
#terms{
    grid-area: terms;
justify-self: center;
align-self:center;
}
#settings{
    grid-area: settings;
justify-self: center;
align-self:center;
}


